* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ----------------Common Styling--------------------------- */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    line-height: 1.2em;
}
.clear{
    clear: both;
}
nav {
    float: right;
    margin-top: 45px;
    margin-right: 250px;
    
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {

    list-style: none;
}

/* ------------Header Styling-------------------- */
#mainHeader {
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

li {
    margin-right: 5px;
    padding: 0 15px 0 5px;
    border-right: 1px solid #99a;
    display: inline;
}

li:last-child {
    border: none;
}

#mainH1 {
    margin-left: 200px;
    margin-top: 58px;
    padding: 10px;
    float: left;
    
    /* border: 1px solid #000; */
    background-color: #4aaaa5;
    color: #fff;
}
/* ---------mainSectionAboutMe Styling------------ */
#mainSectionAboutMe{
    width: 100%;
    height: 500px;
    background:#ccc url("../images/background.png") repeat;
    /* border:1px solid #ddd; */
}
/* ------------------innerSectionAboutMe Styling-------------------------------- */

#innerSectionAboutMe{
    position: relative;
    width: 50%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    top:40px;
    padding:20px;
    border:1px solid #ddd;
    background: #fff;
}
#innerSectionAboutMe header{
    margin-bottom: 30px;
    border-bottom:1px solid #ddd;
}
#innerSectionAboutMe h2{
    font-size: 1.5em;
    color:#4aaaa5;
    margin:10px 0 10px 5px;
}
/* -----------------imgDiv Styling----------------------------- */
#imgDiv{
    float: left;
    width: 30%;
    /* border: 1px solid #000; */
    /* align-content: center; */
    text-align: center;
}
#imgDiv img{
    width: 150px;
    height: 150px;
    /* margin-left: auto;
    margin-right: auto; */
    
    /* border:1px solid #000; */
}
/* ----------------------Artile Styling------------------------ */
article{
    /* float: right; */
    /* width: 70%; */
}
/* ---------------------Footer Styling------------------------------- */
footer{
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    /* vertical-align: bottom; */
    background: #666666;
    border-top: 5px solid #4aaaa5;
}